!!!
%html
  %head
    %title Exemples du composant video encrev1 0.1
    %link(rel='icon' type='image/png' href='/favicon.png')
  %body
    %h1 Exemples du composant "videochatv1"  0.1

    %h2 View a stream
    #form
      %form(action='/view' method='GET')
        %span Serveur:
        %input(type='text' name='server' value='rtmp://localhost/encrev1')
        %span Room:
        %input(type='text' name='room' size='15' value='room1')
        %span id:
        %input(type='text' name='id' size='3' value='test_stream')
        %span Uid:
        %input(type='text' name='uid' value='user_uid')
        %span Sid:
        %input(type='text' name='sid' value='user_sid')
        %input(type='submit' value='Voir !')

    %h2 Publish a stream
    #form
      %form(action='/publish' method='GET')
        %span Serveur:
        %input(type='text' name='server' value='rtmp://localhost/encrev1')
        %span Room:
        %input(type='text' name='room' size='15' value='room1')
        %span id:
        %input(type='text' name='id' size='3' value='test_stream')
        %span Uid:
        %input(type='text' name='uid' value='user_uid')
        %span Sid:
        %input(type='text' name='sid' value='user_sid')
        %input(type='submit' value='Publier !')

